

.nav-pills .nav-link {
    border-radius: 0.25rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ea7066
}
.nav-pills .nav-link {
    padding: 0 1.5rem;
    height: 40px;
    /*font-size: .875rem;*/
    line-height: 40px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-color: #f8f8f8;
    box-shadow: 0 .25rem 0 rgba(0, 0, 0, .1);
    border-radius: 0.25rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ea7066
}
.product-grid {
    overflow: hidden
}

.product-grid--heading {
    text-align: center;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin: 30px 0 20px 0
}

.product-grid--heading
span {
    color: #29B5DC
}

.product-grid
.nav {
    margin-bottom: 0 !important;
    list-style: none !important
}

.product-grid .nav .nav-item {
    margin: 0 4px;
    flex-basis: auto !important
}

.product-grid .nav .nav-item .nav-link {
    display: block !important;
    font-size: 18px;
}

.product-grid .nav .nav-item .nav-link:hover {
    /*background-color: #29B5DC;*/
    color: #FFF;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out
}

.product-grid .nav .nav-item
.active {
    /*background-color: #29B5DC;*/
    color: #FFF
}

.product-grid .product-grid-tab {
    margin-top: 10px
}

/*.product-grid .product-grid-tab .tab-pane {
    margin-top: 25px
}*/

.product-grid .product-grid-tab .tab-pane
.col {
    max-width: 142px;
    min-width: 140px;
    height: 100%;
    margin: 5px;
}

.product-grid .product-grid-tab .tab-pane .product-link
.product-sub {
    background: #f4f0f0;
    box-shadow: 0 3px 0 rgba(0,0,0,.1);
}

.product-grid .product-grid-tab .tab-pane .product-link span:not(.icon) {
    font-size: 11px;
    display: block;
    text-align: center;
    color: #919190;
    margin-top: -24px
}

.product-grid .product-grid-tab .tab-pane .product-link:hover {
    text-decoration: none
}

.product-grid .product-grid-tab .tab-pane .product-link:hover
p {
    color: #ea7066;
    font-weight: 500;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

/*.product-grid .product-grid-tab .tab-pane .product-link:hover
span.icon {
    content: url("https://www.gogoprint.co.th/skin/frontend/ggp/default/images/expand_hover.png")
}*/

.product-grid .product-grid-tab .tab-pane .product-link:hover span:not(.icon) {
    color: #000 !important
}

.product-grid .product-grid-tab .tab-pane .product-link:hover
.product-sub {
    border: 2px solid #ea7066;
    background: #FFF;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease
}

.product-grid .product-grid-tab .tab-pane
.product-cate-sub {
}

/*.product-grid .product-grid-tab .tab-pane .product-cate-sub
span.icon {
    position: absolute;
    top: -13px;
    right: 0;
    color: #FFF;
    padding: 4px 5px;
    border-radius: 55px
}*/

/*.product-grid .product-grid-tab .tab-pane .product-cate-sub span.icon:before {
    content: url("https://www.gogoprint.co.th/skin/frontend/ggp/default/images/expand.png")
}

.product-grid .product-grid-tab .tab-pane .product-cate-sub.active
span.icon {
    content: url("https://www.gogoprint.co.th/skin/frontend/ggp/default/images/expand_active.png")
}*/

.product-grid .product-grid-tab .tab-pane .product-cate-sub.active
.product-sub {
    border: 2px solid #29B5DC;
    background: #FFF;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease
}

.product-grid .product-grid-tab .tab-pane .product-cate-sub.active
p {
    color: #ea7066;
    font-weight: 500;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.product-grid .product-grid-tab .tab-pane
.product-sub-name {
    font-size: 14px;
    color: #4A4A4A;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.product-grid .product-grid-tab .point-active {
    /*display: none;*/
    position: absolute;
    align-items: center;
    /*left: 16%;*/
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #EEE
}

.product-grid .product-grid-tab .free_design
span {
    font-size: 11px;
    display: block;
    text-align: center;
    color: #919190;
    margin-top: -24px
}

.product-grid .product-grid-tab .free_design span:hover {
    color: #000 !important
}
.col {
    display: inline-block;
}
/*.product-grid .product-grid-tab .tab-pane .product-cate-sub span.icon:before {
    content: url(https://www.gogoprint.co.th/skin/frontend/ggp/default/images/expand.png);
}*/
.block_coll {
    width: 100%;
    max-width: 2500px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #EEE
}

.products-sub-list {
    padding: 36px 0 7px 0px;
    margin: 0 0 17px 0;
    height: 100%
}

.products-sub-list .product-link:hover, .products-sub-list
.product-link.active {
    text-decoration: none
}

.products-sub-list .product-link:hover p, .products-sub-list .product-link.active
p {
    color: #D20271 !important;
    font-weight: 500;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.products-sub-list .product-link:hover .product-sub, .products-sub-list .product-link.active
.product-sub {
    border: 2px solid #D20271 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.products-sub-list .product-link
.product-sub {
    background: #FFF !important
}
.media {
    display: flex;
    align-items: flex-start;
}
.nav-pills > li {
    float: inherit;
}
ul#pills-tab {
    text-align: center;
}
.product-sub img {
    width: 112px;
    height: 112px;
}
ul#pills-tab li.nav-item {
    padding-bottom: 10px;
}
@media (max-width: 768px) {
    .row-product {
        text-align: center;
    }
}
.padding-v-sm {
    padding-top: 5px;
    padding-bottom: 1px;
}

.line-dashed {
    background-color: transparent;
    border-bottom: 1px dashed #dee5e7 !important;
}
h2.wow {
    margin-bottom: 20px;
}
.productsSection {
    padding: 50px 0;
}